core
updatemods
package-lock.json
modding/auto-mods
#modding/genieutils
node_modules
empty.json
modding/requested_mods/*
!modding/requested_mods/README.md
database.json
verifycivs
public/pointilism
public/arithmio
arithmiogames
modding/oldgenieutils
public/mazemaker
public/michigaigo
michigaigo
