updatemods
package-lock.json
#modding/genieutils
node_modules
empty.json
modding/build
modding/pcrio
modding/vcpkg
modding/requested_mods/*
!modding/requested_mods/README.md
!modding/requested_mods/cleanup.sh
database.json
michigaigo
