html
  head
    title Civilization Drafter
    style
      include ../css/styles.css
    link(rel='icon' href='./img/kraken_logo_circular.png')
  body(style='background-image: url("../../img/aoe2background.jpg")')
    div(id='page')
      h1(id='title') Civilization Drafter
      div(class='bgbox')
        p(id='error')= error


