html
  head
    title Civilization Drafter
    style
      include ../css/styles.css
  body
    div(id='page')
      h1(id='title') Civilization Drafter
      div(class='bgbox')
        p(id='error')= error


