@font-face {
	font-family: lastninjaFont;
	src: url('/michigaigo/fonts/lastninja.ttf');
}

html, body {
	overflow-x: hidden;
	overflow-y: hidden;
	cursor: default;
}

#wrapper.homepage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('/michigaigo/img/homepage_background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	color: black;
	font-family: lastninjaFont;
	user-select: none;
}

#wrapper.play {
	width: 100vw;
	height: 100vh;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('/michigaigo/img/play_background.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	color: black;
	font-family: lastninjaFont;
	user-select: none;
}

#wrapper.edit {
	width: 100vw;
	height: 100vh;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('/michigaigo/img/play_background2.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	color: black;
	font-family: lastninjaFont;
	user-select: none;
}

#title.homepage {
	position: absolute;
	left: 8vw;
	bottom: 8vh;
	font-size: 5vw;
}

#optionsWrapper.homepage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	right: 8vw;
	bottom: 8vh;
	position: absolute;
}

.homepage.btn {
	font-size: 2vw;
	margin-bottom: 0.5vw;
}

.btn {
	cursor: pointer;
}

.btn:hover {
	text-shadow: 3px 3px red;
}

#loginWrapper.homepage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 30vw;
	height: 50vh;
	outline: 5px solid black;
	background-color: white;
	position: relative;
}

#registerWrapper.homepage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 30vw;
	height: 50vh;
	outline: 5px solid black;
	background-color: white;
	position: relative;
}

.inputWrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 80%;
}

.inputLabel {
	margin: 1vh 3vw 1vh 0;
	font-size: 1.5vw;
}

#loginSubmit {
	margin-top: 3vh;
}

#registerSubmit {
	margin-top: 3vh;
}

#goHome {
	position: absolute;
	left: 2vw;
	bottom: 2vh;
	font-size: 1.5vw;
}

#navbar {
	width: 100%;
	height: 8vh;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	border-bottom: 2px solid black;
}

#playNav {
	width: 10vw;
	margin-left: 5vw;
	margin-right: 5vw;
	text-align: left;
}

#boardEditorNav {
	width: 20vw;
	margin-left: 0vw;
	margin-right: 0vw;
	text-align: left;
}

#archiveNav {
	width: 10vw;
	margin-left: 5vw;
	margin-right: 5vw;
	text-align: left;
}

#profileNav {
	width: 20vw;
	margin-right: 5vw;
	margin-left: 15vw;
	text-align: right;
}

.play.btn {
	font-size: 1.5vw;
}

.edit.btn {
	font-size: 1.5vw;
}

#globalChatWrapper {
	width: 30vw;
	height: 92vh;
	position: absolute;
	right: 0;
	top: 8vh;
	border-left: 2px solid black;
}

#globalMessagesWrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: absolute;
	left: 0;
	top: 3vh;
	right: 0;
	width: 30vw;
	height: 79vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

#globalSendWrapper {
	position: absolute;
	right: 0;
	top: 84vh;
	width: 30vw;
	height: 5vh;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#globalMessage {
	margin-left: 2vw;
	width: 20vw;
}

#globalSend {
	width: 8vw;
	text-align: center;
}

#collapseBtn {
	position: absolute;
	top: 92vh;
	right: 31vw;
	width: 2vw;
	height: 5vh;
}

#expandBtn {
	position: absolute;
	top: 92vh;
	right: 1vw;
	width: 2vw;
	height: 5vh;
}

.globalMessage {
	width: 27vw;
	height: auto;
	margin-top: 2vh;
	font-size: 1vw;
	padding-left: 1.5vw;
	padding-right: 1.5vw;
}

#goban {
	position: absolute;
	top: 15vh;
	left: 8vh;
	width: 75vh;
	height: 75vh;
	border: 5px solid black;
}

#toolbar {
	background-color: black;
	width: 7.5vh;
	height: 75vh;
	position: absolute;
	left: 91vh;
	top: 16vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.toolBtn:first-child {
	margin-top: 2vh;
}

.toolBtn {
	width: 6vh;
	height: 6vh;
	margin-bottom: 0.5vh;
}

#extraToolWrapper {
	position: absolute;
	top: 15vh;
	height: 85vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.parameterWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 1.5vh;
}

.categoryWrapper {
	width: 80%;
	margin-bottom: 4vh;
	font-size: 2.5vh;
}

.parameterInput {
	width: 20%;
}

.parameterLabel {
	width: 60%;
}

.edit.btn {
	text-align: center;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.7); /* IE */
  -moz-transform: scale(1.7); /* FF */
  -webkit-transform: scale(1.7); /* Safari and Chrome */
  -o-transform: scale(1.7); /* Opera */
  transform: scale(1.7);
  padding: 10px;
}
